.banner {
  position: relative;
  height: 823px;
}

.banner__group-titles {
  position: relative;
}

.banner__title {
  text-align: left;
  font-size: 150px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 150px */
  letter-spacing: -15px;
}

.banner__subtitle {
  display: inline-block;
  font-size: 28px;
  line-height: 50%;
  padding-left: 100px;
  margin-bottom: 30px;
}

.banner__group-titles::after {
  content: "";
  display: inline-block;
  width: 675px;
  height: 762px;
  background-image: url(../assets/halls_imgs/1img.png);
  background-size: contain; 
  position: absolute;
  right: 20px;
  top: 84px;
}

.banner__container-flex {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  gap: 40px;
  align-items:flex-end;
  margin-bottom: 150px;
}

.banner__text {
  display: inline-block;
  font-weight: 400;
  font-size: 30px;
}

.banner__text--bold100px {
    font-weight: 900;
    font-size: 100px;
    color: #cd06ff;
  }

.banner__text--bold75px {
  font-weight: 900;
font-size: 75px;
font-variant: small-caps;
color: #cd06ff;
}

.banner__text--width193 {
width: 193px;
}

.banner__text--width166 {
  width: 166px;
}

.banner__button {
  font-weight: 700;
  font-size: 26px;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
  border-radius: 10px;
  width: 374px;
  height: 80px;
  background: #6c0287;
  position: relative;
}

.banner__button:hover,
.banner__button:focus {
  background: #840aa3;
}

.banner__button:active {
  background: #640aa3;
}

.banner__downbutton {
  position: absolute;
  margin: 0px auto;
  left: 50%;
  transform: translate(-50%);
  height: 97px;
  width: 97px;
  bottom: 90px;
}

.banner__downbutton:hover {
  border-radius: 100%;
  fill: #fff;
  stroke-width: 1px;
  stroke: #fff;
}

.banner__downbutton:focus {
  border-radius: 100%;
  stroke-width: 1px;
  stroke: #fff;
}

.banner__downbutton:active {
  border-radius: 100%;
  fill: #cd06ff;
  stroke-width: 1px;
  stroke: #cd06ff;
}