.header {
  padding-top: 30px;
  font-weight: 400;
  font-size: 22px;
  line-height: 227%;
  text-transform: uppercase;
}

.header__flexcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  display: flex;
  height: 100%;
}


/* .header__nav {
  display: inline;
} */

/* .header__logo {
  display: inline;
  margin-right: 96px;
} */

.header__list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  gap: 30px;
  font-weight: 400;
  font-size: 22px;
  line-height: 227%;
  text-transform: uppercase;
  /* margin-right: 96px; */
}

.header__button {
  font-weight: 700;
  font-size: 22px;
  line-height: 136%;
  text-transform: uppercase;
  color: #fff;
  border: 3px solid #cd06ff;
  border-radius: 10px;
  width: 280px;
  height: 55px;
}

.header__button:hover, .header__button:focus {
  border: 3px solid #6c0287;
  background-color: #6c0287;
}

.header__button:active {
  border: 1px solid #000;
  background-color: #640aa3;
} 

.header__flex-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 100%;
}

/* .header__item {
  display: inline;
  white-space: nowrap;
} */